@import "@/public/styles/variables.scss";

.paginationContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    padding: 0 15px;
  }
  
  .recordCount {
    font-size: 14px;
    color: #555;
  }
  
  .pageControls {
    display: flex;
    align-items: center;
  }
  
  .paginationButton {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 7px;
    width: 32px;
    height: 32px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .paginationButton:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .active {
    background-color: $primaryColor;
    color: #fff;
    border: 1px solid $primaryColor;
  }
  