// variables
@import '../styles/variables.scss';

.inputRow {
    display: flex;
    flex-direction: column;
    align-items: start;

    label {
        text-align: right; // Removed `!important`
    }

    input {
        border-radius: $childRadius;
        min-width: 280px;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 50px;

    .button {
      width: 79px;
      height: 40px;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .cancel {
      @extend .button;
      margin-right: 10px;
      background-color: #fff;
      border: 1px solid #727a90;
      color: #727a90;
    }

    .delete {
      @extend .button;
      background-color: red;
      color: white;
      border: none;
    }
}

.cardContainer, .staffCardContainer {
    padding: 10px 12px;
    border-radius: $childRadius;
    gap: 12px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

    h3 {
        font-weight: bold;
        font-size: 20px;
    }

    span {
      color: white;
    }
}

.cardContainer {
  background-color: $primaryColor;
  height: 100px;
}

.staffCardContainer {
  height: 120px;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.primaryCardContainer {
    background-color: $primaryColor;
    color: black;
}

.secondaryCardContainer {
    background-color: #27ae60;
    color: white;
}

.selectRow {
  display: flex;
  flex-direction: column;
  align-items: start;

  label {
      text-align: right; // Removed `!important`
  }

  select {
      min-width: 280px;
      border: 1px solid #ddd;
      border-radius: $childRadius;
      padding: 8px 0;
  }
}