// tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

// variables
@import '../styles/variables.scss';

// fonts
@font-face {
    font-family: vazirmatn-light;
    src: url('../assets/fonts/vazirmatn-light.woff2');
}

@font-face {
    font-family: vazirmatn-regular;
    src: url('../assets/fonts/vazirmatn-regular.woff2');
}

@font-face {
    font-family: vazirmatn-bold;
    src: url('../assets/fonts/vazirmatn-bold.woff2');
}

// globals
* {
    margin: 0;
    padding: 0;
    font-family: vazirmatn-regular;
}

body {
    background-color: $backgroundColor;
    margin-bottom: 100px;
}

input {
    width: 100%;
    height: 45px;
    border: 1px solid #ddd;
    border-radius: $childRadius;
    outline: none;
}

label {
    background-color: rgba($color: #000000, $alpha: 0);
    display: inline-block;
    margin-bottom: 5px;
}

.btn {
    height: 50px;
    border: none;
    border-radius: $childRadius;
    padding: 5px 10px;
    transition: 0.2s ease;
    cursor: pointer;
}

.primary-btn {
    background-color: $primaryColor;
    color: white;
    
    &:hover {
        background-color: $primaryColorHover;
    }
}

.primaryButton {
    background-color: $primaryColor;
    color: white;
    border: none;
    border-radius: $childRadius;
    padding: 5px 10px;
    width: 100%;
    height: 50px;
    transition: 0.2s ease;
    cursor: pointer;

    &:hover {
        background-color: $primaryColorHover;
    }
}

