// colors
$primaryColor: #E62F32;
$primaryColorHover: #D3191C;

$backgroundColor: #F5F5F5;

$titleColor: #2D2D2D;
$subtitleColor: #343434;

// spacing and sizings
$parentRadius: 15px;
$childRadius: $parentRadius / 2;